beautifulsoup4==4.15.0
lxml==6.1.1
requests==2.34.2
DrissionPage==4.1.1.4
DrissionGet==1.2.1
DrissionRecord==2.0.1
selenium==4.46.0
webdriver-manager==4.1.2
psycopg2-binary==2.9.12
SQLAlchemy==2.0.52
pandas==3.0.5
numpy==2.5.1
emoji==2.15.0
google-genai==2.23.0
python-dotenv==1.2.2
openpyxl==3.1.5
cryptography==50.0.1